{% extends "smartgarden/base.html" %}

{% block content %}
<div class="container">
    <div class="row">

    {% if circuits %}
        {% for circuit in circuits %}
            <div class="col">
                <div id="circuit_{{ circuit.id }}" class="circuit-card d-flex p-4">
                    {% if circuit.healthy %}
                        <div class="align-self-stretch mr-4 circuit-status-healthy"></div>
                    {% else %}
                        <div class="align-self-stretch mr-4 circuit-status-unhealthy"></div>
                    {% endif %}

                    <div>
                        <h3>
                            {{ circuit.name }}
                        </h3>
                        <h5 class="mb-3">
                            {{ circuit.active }}
                        </h5>

                        {% if circuit.schedule %}
                            <div id="schedule">
                                {% for scheduled_activation in circuit.schedule %}
                                    <span class="d-block schedule-item">
                                        {{ scheduled_activation.time }}, <span class="schedule-item-amount">{{ scheduled_activation.amount }} ml</span>
                                    </span>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="col">
            <p>circuits no available</p>
        </div>
    {% endif %}

    </div>
</div>

{% endblock content %}