{% extends "smartgarden/base.html" %}

{% block content %}
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Smart Garden</a>
  </div>
</nav>

<div class="container">
    <div class="row">

    {% if circuits %}
        <div id="content-main" class="col d-flex justify-content-center align-items-center">

            {% for circuit in circuits %}
                <div id="circuit_{{ circuit.id }}" class="circuit-card d-flex p-4 mx-2">
                    {% if circuit.healthy %}
                        <div class="align-self-stretch mr-4 circuit-status-healthy"></div>
                    {% else %}
                        <div class="align-self-stretch mr-4 circuit-status-unhealthy"></div>
                    {% endif %}

                    <div>
                        <h3>
                            {{ circuit.name }}
                        </h3>
                        <h5 class="mb-3">
                            {{ circuit.active }}
                        </h5>

                        {% if circuit.schedule %}
                            <div id="schedule">
                                {% for scheduled_activation in circuit.schedule %}
                                    <span class="d-block schedule-item">
                                        {{ scheduled_activation.time }}, <span class="schedule-item-amount">{{ scheduled_activation.amount }} ml</span>
                                    </span>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

        </div>
    {% else %}
        <div class="col">
            <p>circuits no available</p>
        </div>
    {% endif %}

    </div>
</div>

{% endblock content %}